numpy
astropy>=4.2
matplotlib
requests
scipy
scikit-image
pandas
pytest
tornado>=6.1
beautifulsoup4
keyring
html5lib
xlwt
xlrd
requests
asdf
gwcs
ccdproc
photutils
specutils
aplpy
astroquery
pyvo>=1.1
nbgitpuller
nbzip
jupyter-offlinenotebook
jupyter-archive
